table{
    border-collapse: collapse;
}

.data-grid.calculate-services thead th.c1 { width: 268px; }
.data-grid.calculate-services thead th.c2,
.data-grid.calculate-services thead th.c3 { width: 80px; }
.data-grid.calculate-services thead th.c4 { width: 70px;  }
.data-grid.calculate-services thead th.c5 { width: 120px;  }
.data-grid.calculate-services thead th.c6 { width: 94px;  }
.data-grid.calculate-services thead th.c7 { width: 100px;  }
.data-grid.calculate-services thead th.c8 { width: 80px;  }

.data-grid.calculate-services thead th.donnees {
    /*border-color: #fdec6c; */
}




.data-grid.calculate-services tbody td.dynamic{
    background: #CC6666;
}

.data-grid.calculate-services tbody td.subtotal{
    background: #999;
}
.data-grid.calculate-services tbody td.black{
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    border-color: rgb(100,100,100);
    background: #262931;
    background: -webkit-gradient(linear, left top, left bottom, from(#262931), to(#33383f) );
    background: -moz-linear-gradient(top, #262931, #33383f);
    background: -moz-linear-gradient(center top , #262931, #33383f) repeat scroll 0 0 transparent;
}

.data-grid.calculate-services tbody th.appel.first,
.data-grid.calculate-services tbody th.appel.second {
    text-transform: none;
    width: 150px;
    text-align: left;
}

.data-grid.calculate-services tbody th.appel.first {
    color: #000;
    background: #e5e5e5;
    border-right: 1px solid #ccc;
}

.data-grid.calculate-services tbody th.appel.second {
    text-transform: uppercase;
    color: white;
    border-color: rgb(100,100,100);
    background: #262931;
    background: -webkit-gradient(linear, left top, left bottom, from(#262931), to(#33383f) );
    background: -moz-linear-gradient(top, #262931, #33383f);
    background: -moz-linear-gradient(center top , #262931, #33383f) repeat scroll 0 0 transparent;
}

.data-grid.calculate-services tbody td.tinputfield {
    background-color: rgb(245,245,245);
    padding: 2px;
}

.data-grid.calculate-services tbody td.tinputfield input {
    padding: 5px 10px;
    /*border: 1px solid rgb(220,220,220); */
    border: 2px solid #fed22c; 
    background-color: #fffbea;
    display: inline-block;
    margin: 0;
    text-align: center;
}

.data-grid.calculate-services tbody td.tinputfield input:focus { 
    background-color: white;
}

.data-grid.calculate-services tbody th.appel.pic {
    background: none; 
    border-right: 1px solid #ccc;    
}

.data-grid.calculate-services th {
    border: 1px solid #e5e5e5;
}

.data-grid.calculate-services input {
    width: 40px;
}

.data-grid.calculate-services .tprice {
    width: 40px;
}

.data-grid.calculate-services tbody td.grey{
    color: #000;
    font-size: 93%;
    font-weight: bold;
    //text-transform: uppercase;
    margin: 0;
    padding: .5em;
    background: #e5e5e5;
}